.app {
  @include flex-grid-column(4);
  margin-bottom: 3.5rem;

  @include breakpoint(medium only) {
    @include flex-grid-column(6);
  }

  @include breakpoint(small only) {
    @include flex-grid-column(12);
  }

  &__box {
    display: flex;
    justify-content: center;
    height: 130px;
    width: 100%;
    text-decoration: none;
  }

  &__box-image {
    height: 130px;
    width: 100%;
    max-width: 250px;
    margin: 0 20px;
  }

  &__box_suggest-app {
    background: #efefef;
    text-align: center;
  }

  &__box-image_suggest-app {
    display: flex;
    @include flex-grid-row();
    align-items: center;
    justify-content: center;
    span {
      font-size: 6rem;
      color: $hr-green;
      font-weight: 600;
    }
  }

  &__title {
    color: $hr-dark-gray;
    font-weight: bold;
    font-size: 1rem;
    margin: 0 0 1rem 0;
    display: inline-block;
  }

  &__description {
    color: $hr-light-gray;
    line-height: 1.4rem;
    margin: 1rem 0 0.5rem 0;
    font-weight: 400;
    min-height: 5rem;
  }

  @include breakpoint(small only) {
    &__description {
      min-height: initial;
    }
  }

  &__more {
    font-size: 0.9375rem;
    color: $hr-dark-gray;
    font-weight: 600;
  }

  &__more-link {
    color: $hr-dark-gray;
    font-size: 0.9375rem;
    font-weight: 500;
    border-bottom: 1px solid $hr-silver-gray;
    display: inline-block;
    margin-left: 0.2rem;
    line-height: 1;

    &:hover,
    &:focus,
    &:active {
      color: $hr-green;
      border-bottom: 1px solid $hr-green;
      cursor: pointer;
    }
  }
}
