.breadcrumbs-wrapper {
  @include flex-grid-row();
  margin-bottom: calc(-#{$hr-block-padding} + 1rem);
  margin-top: calc(#{$hr-block-padding} - 1rem);

  &__list {
    @include flex-grid-row();
    flex-flow: row wrap;
    margin-left: unset;
    padding-left: 1rem;
  }

  &__list-item {
    position: relative;
    margin-right: 0.5rem;
    font-size: 0.8125rem;
    color: $hr-dark-gray;
    text-transform: capitalize;

    &::after {
      content: '>';
      margin-left: 0.5rem;
    }

    &:last-of-type {
      color: $hr-light-gray;

      &::after {
        content: '';
      }
    }
  }

  &__list-item_link {
    color: $hr-dark-gray;

    &:hover,
    &:focus {
      color: $hr-green;
      cursor: pointer;
    }
  }
}
