.button {
  font-size: 0.9375rem;
  padding: 0.6rem 1.5rem;
  border-radius: 3px;

  &_white {
    background: $white;
    color: $hr-green;
    text-transform: uppercase;
    font-weight: 500;

    &:hover,
    &:active,
    &:focus {
      background-color: $white;
      color: $hr-green;
    }
  }

  &_section {
    margin-top: 1rem;
  }
}
