.call-summary {
  color: $hr-light-gray;
  background-color: #fafafa;

  tr {
    vertical-align: middle;
    height: 3rem;

    &:nth-child(even) {
      background: none;
    }
  }

  td:first-of-type {
    width: 33%;
  }

  &__cell-wrapper--outer {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__cell-wrapper--inner {
    position: absolute;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
  }

  &__url {
    color: $hr-green;
    font-weight: 500;
    line-height: 3;
  }

  &__extra {
    font-style: italic;
  }
}
