.comments {
  text-align: left;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    @include breakpoint(medium down) {
      flex-direction: column;
      margin-bottom: 3rem;
    }
  }

  &__new {
    display: inline-block;
    color: $hr-green;
    font-weight: 500;
    font-size: 0.8125rem;
    text-decoration: underline;
    &:hover {
      color: $hr-green;
    }
    @include breakpoint(medium down) {
      width: 100%;
    }
  }

  &__list {
    display: block;
    text-align: left;
  }

  &__item {
    width: 100%;
    display: inline-block;
    margin-bottom: 1rem;
  }

  &__author {
    color: $hr-green;
    font-size: 0.8125rem;
    font-weight: 500;
    padding-right: 0.3rem;
    &:hover {
      color: $hr-green;
    }
  }

  &__date {
    color: $hr-light-gray;
    font-weight: 400;
    font-size: 0.8125rem;
  }

  &__text {
    color: $hr-light-gray;
    font-weight: 400;
    font-size: 0.8125rem;
    margin-bottom: 0.5rem;
  }

  &__reply {
    color: $hr-green;
    font-size: 0.8125rem;
    font-weight: 500;
    padding-right: 0.3rem;
    text-decoration: underline;
    &:hover {
      color: $hr-green;
    }
  }

  &__sub-title {
    color: $hr-dark-gray;
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 2rem;
  }

  &__reply-to {
    color: $hr-green;
    font-size: 1.125rem;
    text-decoration: underline;
    display: inline-block;
    padding: 0 0.3rem;
  }

  &__reply-separator {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    display: inline-block;
    background: $hr-light-gray;
    vertical-align: middle;
  }

  &__reply-cancel {
    font-size: 1rem;
    font-weight: 400;
    text-decoration: underline;
    color: $hr-green;
    padding: 0 0.3rem;
  }
}
