.content-nav {
  &__title {
    display: block;
    width: 100%;
    position: relative;
    padding-top: 1rem;
    margin-bottom: 0;
    color: #555;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1rem;
    padding-left: 1rem;
    cursor: pointer;

    @include breakpoint(medium down) {
      display: none;
      padding-left: 0;
    }
  }

  &__title_small {
    @include breakpoint(medium up) {
      display: none;
    }
    @include breakpoint(medium down) {
      display: block;
      margin-bottom: 0;
      padding: 1rem;
    }
  }

  &__title_small_bottom_border {
    border-bottom: 1px solid $main-green;
  }

  &__list {
    display: block;
    padding: 1rem 0;

    @include breakpoint(medium down) {
      padding: 0;
    }
  }

  &__list_hidden {
    @include breakpoint(medium down) {
      display: none;
    }
  }

  &__arrow {
    color: $main-green;
    font-size: 1.3em;
    float: right;
    cursor: pointer;
    display: none;
    @include breakpoint(medium down) {
      display: block;
    }
  }

  &__item {
    color: #555555;
    font-weight: 500;
    font-size: 0.9375rem;
    width: 100%;
    display: inline-block;
  }

  &__item_active {
    color: $white;

    .content-nav__link {
      color: $white;
      background: $main-green;

      &:hover {
        color: $white;
      }
    }
  }

  &__link {
    color: #555555;
    font-weight: 500;
    font-size: 0.9375rem;
    display: inline-block;
    width: 100%;
    padding: 0.25rem 0;
    padding-left: 1rem;

    &:hover {
      color: $main-green;
    }
  }
}
