.content-sublist {
  margin-left: 1.7rem;
  margin-top: 0.2rem;
  list-style: none;

  li a {
    color: #555555;
    font-weight: 400;
    font-size: 0.9375rem;
    display: inline-block;
    width: 100%;

    &:hover {
      color: $main-green;
    }
  }

  li a.active {
    color: $main-green;
  }
}
