.developers-thumbs {
  @include flex();
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 1rem;

  &__item {
    @include flex-grid-column(6);
    margin-bottom: 1rem;
    text-align: left;

    @include breakpoint(medium down) {
      @include flex-grid-column(12);
    }
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__icon {
    float: left;
    font-size: 3.25rem;
    color: $hr-green;
    line-height: 4.2rem;
    height: 160px;
    margin-right: 2rem;
  }

  &__title {
    font-size: 1.5rem;
    color: $hr-dark-gray;
    font-weight: bold;
  }

  &__description {
    font-size: 1rem;
    color: $hr-light-gray;
    font-weight: 400;
  }
}
