.documentation {
  font-family: 'Poppins', sans-serif;

  h2,
  h3 {
    display: grid;
    grid-template-columns: max-content min-content;
    grid-auto-flow: column;
    grid-template-areas: 'header anchor';
    grid-gap: 0.33rem;

    a {
      grid-area: anchor;
      align-self: center;
      color: transparent;

      &::after {
        content: '#';

        @media print {
          display: none !important;
        }
      }
    }

    &:hover a {
      color: $hr-green;

      &:hover {
        color: $hr-dark-gray;
      }
    }
  }

  h1 {
    color: $hr-dark-gray;
    font-weight: bold;
    font-size: 2.625rem;
    position: relative;
    margin: 0 0 2.5rem 0;
    width: 100%;
    line-height: 1;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: inherit;
      top: 100%;
      margin: 10px auto;
      width: 15%;
      height: 3px;
      background: $hr-green;
    }
  }

  h2 {
    color: $hr-dark-gray;
    font-size: 1.563rem;
    text-align: left;
    font-weight: 600;
    margin: 2rem 0 1rem 0;
  }

  h3 {
    color: $hr-dark-gray;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 1rem 0;
    width: 100%;
  }

  h4 {
    color: $hr-dark-gray;
    font-weight: 500;
    font-size: 1rem;
    margin: 0.5rem 0;
    width: 100%;
  }

  p {
    font-size: 1rem;
    color: $hr-gray;
    font-weight: 400;
  }

  a {
    font-weight: 400;
    font-size: 1rem;
    color: $hr-green;

    &:hover {
      color: $hr-gray;
      cursor: pointer;
    }
  }

  ul,
  ol {
    display: block;
    margin-bottom: 1rem;
  }

  li {
    font-size: 1rem;
    font-weight: 400;
    color: $hr-gray;
  }

  ul li {
    display: inline-block;
    width: 100%;
    position: relative;
    padding-left: 0.8rem;

    &:before {
      content: '';
      width: 4px;
      height: 4px;
      background: $hr-gray;
      border-radius: 50%;
      left: 0;
      position: absolute;
      top: 0.7rem;
    }
  }

  /* -----------
      Code
     ----------- */
  // Coming from a plugin {{{
  .prism-code {
    padding: 2.5rem 1.25rem;
    margin: 1.5rem auto;
    background-color: #fbfbfb;
    border-top: 1px solid $hr-light-gray;
    border-bottom: 1px solid $hr-light-gray;
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    font-weight: normal;

    .prism-code_wrapper {
      position: relative;
      white-space: inherit;
      font-size: 0.9375rem;
    }

    .token-line {
      display: block;
      border: none;
      padding: 0;
      font-family: Consolas, 'Liberation Mono', Courier, monospace !important;
      color: $hr-dark-gray;

      span:last-child {
        margin-right: 1.25rem;
      }

      .token.string {
        color: #b2564f;
      }
    }
  }

  .prism-code.prism-code_inline {
    padding: 0 2px;
    margin: 0 2px;
    border: 1px solid #dddddd;
    background-color: #eeeeee;
    color: #333333;
  }
  // }}}

  figure {
    width: 100%;
    background: #fbfbfb;
    display: inline-block;
    padding: 1rem;
    margin-bottom: 1rem;
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;

    tbody {
      background: none;
    }

    tr {
      border: none;
    }
  }

  &__optional {
    font-weight: normal;
    font-size: 0.625rem;
    padding-left: 5px;
  }

  /* -----------
      Table reset
     ----------- */

  tbody {
    background: none;
    color: $hr-gray;
  }

  tr {
    border: none;
  }

  td,
  td:first-child {
    padding: 0.6rem;
  }
}
