.documentation {
  font-family: 'Poppins', sans-serif;

  h2,
  h3 {
    display: grid;
    grid-template-columns: max-content min-content;
    grid-auto-flow: column;
    grid-template-areas: 'header anchor';
    grid-gap: 0.33rem;

    a {
      grid-area: anchor;
      align-self: center;
      color: transparent;
      text-decoration: none;

      &::after {
        content: '#';

        @media print {
          display: none !important;
        }
      }
    }

    &:hover a {
      color: green;
      text-decoration: underline;
    }
  }

  h1 {
    color: #333333;
    font-weight: bold;
    font-size: 2.625rem;
    position: relative;
    margin: 0 0 2.5rem 0;
    width: 100%;
    line-height: 1;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: inherit;
      top: 100%;
      margin: 10px auto;
      width: 15%;
      height: 3px;
      background: #6db24f;
    }
  }

  h2 {
    color: #555555;
    font-size: 1.563rem;
    text-align: left;
    font-weight: 600;
    margin: 2rem 0 1rem 0;
  }

  h3 {
    color: #777777;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 1rem 0;
    width: 100%;
  }

  h4 {
    color: #777777;
    font-weight: 500;
    font-size: 1rem;
    margin: 0.5rem 0;
    width: 100%;
  }

  p {
    font-size: 1rem;
    color: #555;
    font-weight: 400;
  }

  a {
    font-weight: 400;
    font-size: 1rem;
    color: $main-green;
    text-decoration: underline;

    &:hover {
      color: $main-green;
    }
  }

  ul,
  ol {
    display: block;
    margin-bottom: 1rem;
  }

  li {
    font-size: 1rem;
    font-weight: 400;
    color: #999999;
  }

  ul li {
    display: inline-block;
    width: 100%;
    position: relative;
    padding-left: 0.8rem;

    &:before {
      content: '';
      width: 4px;
      height: 4px;
      background: #777777;
      border-radius: 50%;
      left: 0;
      position: absolute;
      top: 0.7rem;
    }
  }

  /* -----------
      Code
     ----------- */
  .prism-code {
    padding: 2.5rem 1.25rem;
    margin: 1.5rem auto;
    border-top: 1px solid $gray-color;
    border-bottom: 1px solid $gray-color;

    & .prism-code__wrapper {
      position: relative;
      white-space: inherit;
    }
  }

  .token-line {
    display: block;
    border: none;
    padding: 0;
    & span:last-child {
      margin-right: 1.25rem;
    }
  }

  code {
    background-color: inherit;
  }

  figure {
    width: 100%;
    background: #fbfbfb;
    display: inline-block;
    padding: 1rem;
    margin-bottom: 1rem;
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;

    tbody {
      background: none;
    }

    tr {
      border: none;
    }

    .line {
      font-family: Consolas, 'Liberation Mono', Courier, monospace !important;
      font-size: 0.9375rem;
      color: #555;
    }
  }

  &__optional {
    font-weight: normal;
    font-size: 0.625rem;
    padding-left: 5px;
  }

  /* -----------
      Table reset
     ----------- */

  tbody {
    background: none;
  }

  tr {
    border: none;
  }

  td,
  td:first-child {
    padding: 0.6rem;
  }

  td a {
    text-decoration: none;
  }
}
