.faq {
  h4 {
    color: $hr-dark-gray;
    font-weight: bold;
    font-size: 1.5rem;
    position: relative;
    margin-bottom: 2.5rem;
    width: 100%;
    text-align: left;
  }

  h4:after {
    content: '';
    position: absolute;
    left: 0;
    right: inherit;
    top: 100%;
    margin: 10px auto;
    width: 15%;
    height: 3px;
    background: #ececec;
  }

  h5 {
    width: 100%;
    display: inline-block;
    color: $hr-dark-gray;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0.15rem;
    text-align: left;
  }

  p {
    text-align: left;
    color: $hr-light-gray;
    font-weight: 400;
    margin-bottom: 2rem;
  }
}
