.feedback {
  background-color: $white;
  color: $hr-dark-gray;

  &__section {
    @include flex-grid-row();
    align-items: center;
    padding: 1.6rem 1rem;
  }

  &__title-wrapper {
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
      color: $hr-green;
    }

    &_highlighted {
      color: $hr-green;
    }
  }

  &__title-icon {
    display: flex;
    height: 1.25rem;
    width: 1.25rem;
    margin-right: 0.6rem;
    border-radius: 50%;
    background-color: $hr-light-gray;
    color: $white;
  }

  &__title-wrapper_highlighted &__title-icon {
    background-color: $hr-green;
  }

  &__title {
    font-weight: 600;
    margin-bottom: 0;
  }

  &__instructions {
    position: relative;
    background-color: #fbfbfb;
    display: grid;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: #fbfbfb;
    }

    &::before {
      right: 100%;
    }

    &::after {
      left: 100%;
    }
  }

  &__contact-button {
    color: $hr-green;

    &:hover,
    &:active {
      cursor: pointer;
      color: #5d9a43;
    }
  }

  &__link {
    margin: auto 0.2rem;
  }

  &__instructions-list-item {
    position: relative;
    margin-left: 0.75rem;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -0.75rem;
      height: 6px;
      width: 6px;
      border-radius: 50%;
      background-color: $hr-dark-gray;
    }
  }
}
