.form {
  width: 100%;
  display: block;

  &__input {
    border: 1px solid #f2f2f2;
    box-shadow: none;
    color: #000000;
    font-weight: 400;
    background: #ffffff;
    transition: none;
    height: 36px;
    outline: 0;
    font-size: 0.8125rem;
    border-radius: 3px;
    margin-bottom: 0.3rem;
  }

  &__input.error {
    background: #f4e6e4;
    position: relative;
  }

  &__input.valid {
    background: #e9f4e4;
  }

  &__block {
    position: relative;
    width: 100%;
    height: auto;
  }

  &__block-row {
    @include flex-grid-row();
    justify-content: space-between;
    align-items: flex-start;
  }

  &__block_medium {
    width: 49%;
    @include breakpoint(small down) {
      width: 100%;
    }
  }

  &__sub-title {
    font-size: 0.8125rem;
    color: $hr-light-gray;
    font-weight: 600;
    margin-top: 1.5rem;
  }

  &__textarea {
    width: 100%;
    height: 100px;
    resize: none;
    border: 1px solid #f2f2f2;
    box-shadow: none;
    color: #000000;
    font-size: 0.8125rem;
    font-weight: 400;
    background: #ffffff;
    margin-bottom: 0.3rem;
  }

  &__button {
    background: $hr-dark-gray;
    padding: 0.8rem 2.5rem;
    text-transform: uppercase;
    font-size: 0.8125rem;
    color: $white;
    border-radius: 3px;
    font-weight: 500;
    text-align: center;
    margin-top: 1rem;
    cursor: pointer;

    @include breakpoint(small only) {
      font-size: 1rem;
    }
  }

  &__button_full-width {
    width: 100%;
  }

  &__button_modal {
    margin-top: 0.5rem;
  }
  &__button_medium {
    padding: 0.7em 4em;
    font-size: 1rem;
  }

  &__link {
    display: inline-block;
    width: 100%;
    color: $hr-dark-gray;
    font-weight: 400;
    font-size: 0.8125rem;
    &:hover {
      color: $hr-green;
    }
  }
}

.error {
  & label {
    position: absolute;
    display: inline-block;
    font-size: 0;
    right: 10px;
    top: 0;
    &:after {
      position: absolute;
      content: '\f00d';
      font-family: FontAwesome !important;
      font-size: 1rem;
      color: red;
      right: 0;
      top: 3px;
    }
  }

  &__message {
    color: red;
    font-size: 0.8125rem;
    margin: 0.5rem;
  }
}

.valid label {
  position: absolute;
  display: inline-block;
  font-size: 0;
  right: 8px;
  top: 0;
  &:after {
    position: absolute;
    content: '\f00c';
    font-family: FontAwesome !important;
    font-size: 1rem;
    color: $hr-green;
    right: 0;
    top: 3px;
  }
}

.form__input[aria-invalid='true'],
.error .form__input,
.form__textarea[aria-invalid='true'],
.error .form__textarea {
  background: #f4e6e4;
}

.form__input[aria-invalid='false'],
.form__textarea[aria-invalid='false'] {
  background: #e9f4e4;
}
