// Desktop {{{
.header {
  height: 80px;
  border-bottom: 3px solid $main-green;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  width: 100%;
  background: $white;

  &__in {
    height: 100%;
  }

  &__desktop {
    @include flex-grid-row();
    @include flex();
    height: 100%;
    align-items: center;
    max-width: 60rem;
    @include breakpoint(medium down) {
      display: none;
    }
  }

  &__mobile {
    display: none;
    height: 100%;
    @include breakpoint(medium down) {
      display: block;
    }
    &__overlay {
      position: fixed;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0,0,0,.3);
      z-index: 4;
    }
  }

  &__logo {
    @include grid-col(2, 0);
  }

  &__action {
    @include grid-col(3, 0);
    text-align: right;
  }

  &__action_sidenav {
    width: 100%;
    text-align: center;
    margin-top: 1rem;

    .header__action-signup {
      display: inline-block;
      width: 100%;
      padding: 0;
      font-size: 0.9375rem;
      color: $gray-nav;
      font-weight: 400;
      &:hover {
        color: $main-green;
      }
    }

    .header__action-login {
      width: 80%;
      margin: 0.2rem 0;
    }
  }

  &__action-signup {
    color: $gray-nav;
    font-size: 0.9375rem;
    padding-right: 1rem;
    &:hover {
      color: $main-green;
    }
  }

  &__action-login {
    color: $white;
    background: $main-green;
    font-size: 0.9375rem;
    padding: 0.6rem 1.5rem;
    border-radius: 3px;
    font-weight: 500;
    cursor: pointer;
    & a {
      color: $white;
    }
  }

  &__social-block {
    display: grid;
  }
}

.topbar-menu {
  @include grid-col(7, 0);
  text-align: center;

  &__item {
    display: inline-block;
    position: relative;
    &:after {
      width: 3px;
      height: 3px;
      background: $gray-standard;
      display: inline-block;
      content: "";
      border-radius: 50%;
      margin-bottom: 0.2rem;
    }
    &:last-child {
      &:after {
        background: none;
        width: 0;
        height: 0;
      }
    }
  }

  &__link {
    padding-left: 0.3rem;
    padding-right: 0.4rem;
    font-size: 0.9375rem;
    color: $gray-nav;

    &:hover {
      color: $main-green;
    }
  }

  &__link_active {
    color: $main-green;
  }
}
// }}}

// Mobile {{{
.mobile-bar {
  @include grid-col(7, 0);
  text-align: center;
  display: none;
  background: white;
  width: 100%;
  align-items: center;
  height: 100%;
  padding: 0;

  @include breakpoint(medium only) {
    display: flex;
  }

  @include breakpoint(small only) {
    display: flex;
  }

  &__button {
    width: 21px;
    height: 21px;
    display: block;
    cursor: pointer;
  }

  &__logo {
    float: none;
    width: auto;
    margin: 0 auto;
  }

  &__menu {
    height: 100%;
    width: 300px;
    max-width: 300px;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: $white;
    overflow-x: hidden;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__header {
    min-height: 4rem;
    height: auto;
    background: $white;
    border-bottom: 2px solid $main-green;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    flex: 1;
  }

  &__close-button {
    font-size: 1.2rem;
    color: $main-green;
    width: 100%;
    text-transform: uppercase;
    i {
      width: 1.75rem;
      cursor: pointer;
    }
  }
}

.leftbar-menu {
  padding-bottom: 0.5rem;
  text-align: center;
  margin-top: 2rem;

  &__item {
    padding: 0.2rem 0.5rem;
  }

  &__link {
    padding-left: 0.3rem;
    padding-right: 0.4rem;
    font-size: 0.9375rem;
    color: $gray-nav;
    &:hover {
      color: $main-green;
      font-weight: 400;
    }
  }
}
// }}}
