// NOTE: slick-* classes are coming from react-slick carousel component

.image-slider {
  align-self: center;
  /* override display prop on .slick-list */
  display: grid !important;
  grid-template-areas: 'previous_arrow slide next_arrow';
  grid-template-columns: 6% 1fr 6%;
  width: inherit;
  align-items: center;

  & .slick-list {
    grid-area: slide;
  }

  & .slick-slide {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  // & .slick-dots {
  //   bottom: calc(#{$button_height} / -2);
  //
  //   & li {
  //     & button::before {
  //       content: '';
  //       height: 1rem;
  //       width: 1rem;
  //       border-radius: 50%;
  //       border: 2px solid $main-green;
  //       transition: border 200ms ease-in-out;
  //       opacity: 0.75;
  //     }
  //
  //     & button:hover::before,
  //     & button:focus::before {
  //       border: 0.5rem solid $main-green;
  //       opacity: 1;
  //     }
  //
  //     &.slick-active button::before {
  //       border: 0.5rem solid $main-green;
  //       opacity: 1;
  //     }
  //   }
  // }

  & .slick-next,
  & .slick-prev {
    justify-self: center;
    position: initial;
    height: auto;
    width: auto;
  }

  & .slick-next {
    right: 0;
    grid-area: next_arrow;

    &::before {
      content: '\f061';
    }
  }

  & .slick-prev {
    grid-area: previous_arrow;
    left: 0;

    &::before {
      content: '\f060';
    }
  }

  & .slick-prev::before,
  & .slick-next::before {
    font-family: FontAwesome;
    font-size: 1.5rem;

    @include breakpoint(small down) {
      font-size: 1rem;
    }

    @include breakpoint(xxlarge up) {
      font-size: 2rem;
    }
  }

  &__slide {
    border-radius: 0.6rem;
  }
}

.image-slider-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  grid-template-rows: max-content 1fr;
  height: 100vh;
  width: 100vw;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.85);

  &__topbar {
    position: relative;
    display: grid;
    grid-template-columns: 1fr max-content;
    width: 100vw;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.6);

    @include breakpoint(medium down) {
      font-size: 0.85rem;
    }
  }

  &__title {
    align-self: center;
    color: $white;
    margin-bottom: 0;
  }

  &__count {
    position: absolute;
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    color: $gray-color;
    margin-bottom: 0;
  }

  &__title-app-name {
    font-weight: bold;
  }

  &__close_button {
    font-size: 1.5rem;
    z-index: 12;
    color: $gray-color;

    &:hover {
      cursor: pointer;
      color: $white;
    }

    @include breakpoint(small down) {
      font-size: 1rem;
    }

    @include breakpoint(xxlarge up) {
      font-size: 2rem;
    }
  }
}
