// NOTE: slick-* classes are coming from react-slick carousel component

.image-slider,
.image-slider__topbar {
  /* override display prop on .slick-list */
  display: grid !important;
  grid-template-columns: 6% 1fr 6%;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.image-slider {
  grid-template-areas: 'arrow_previous slide arrow_next';
  align-items: center;
  width: inherit;

  & .slick-list {
    grid-area: slide;
  }

  & .slick-slide {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  &__slide {
    border-radius: 0.6rem;
  }

  &__arrow_previous {
    grid-area: arrow_previous;
  }

  &__arrow_next {
    grid-area: arrow_next;
  }

  &__arrow_previous,
  &__arrow_next,
  &__button_close {
    justify-self: center;
    display: grid;
    place-items: center;
    width: 1.1rem;
    height: 1.1rem;
    font-size: 0.55rem;
    border-radius: 50%;
    border: 1px solid $white;
    color: $white;
    opacity: 0.5;

    & svg {
      margin: auto;
    }

    &:hover,
    &:focus {
      outline: none;
      opacity: 1;
      cursor: pointer;
    }

    @include breakpoint(medium up) {
      font-size: 1rem;
      width: 1.75rem;
      height: 1.75rem;
    }

    @include breakpoint(large up) {
      font-size: 1.25rem;
      width: 2.25rem;
      height: 2.25rem;
    }

    @media screen and (min-width: 1600px) {
      font-size: 1.75rem;
      width: 3.5rem;
      height: 3.5rem;
    }
  }

  &__topbar {
    position: relative;
    grid-template-areas: 'app_title count close_button';
    place-items: center;
    width: 100vw;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.6);

    @include breakpoint(medium down) {
      font-size: 0.85rem;
    }
  }

  &__title {
    grid-area: app_title;
    width: 1rem;
    color: $white;
    margin-bottom: 0;
    text-transform: capitalize;

    @include breakpoint(medium up) {
      width: 1.75rem;
    }

    @include breakpoint(large up) {
      width: 2.25rem;
    }

    @media screen and (min-width: 1600px) {
      width: 3.5rem;
    }
  }

  &__title-app-name {
    font-weight: bold;
  }

  &__count {
    grid-area: count;
    color: $gray-color;
    margin-bottom: 0;
  }

  &__close-button {
    grid-area: close_button;
  }
}

.image-slider-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  align-items: center;
  grid-template-rows: max-content 1fr;
  height: 100vh;
  width: 100vw;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.85);
}
