.mobile-bar {
  @include grid-col(7, 0);
  text-align: center;
  display: none;
  background: white;
  width: 100%;
  align-items: center;
  height: 100%;
  padding: 0;

  @include breakpoint(medium only) {
    display: flex;
  }

  @include breakpoint(small only) {
    display: flex;
  }

  &__button-wrapper {
    display: grid;
    align-items: center;
    height: inherit;
    width: 3rem;
    cursor: pointer;
  }

  &__button {
    width: 21px;
    height: 21px;
    display: block;
  }

  &__logo {
    float: none;
    width: auto;
    margin: 0 auto;
  }

  &__menu {
    height: 100%;
    width: 300px;
    max-width: 300px;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: $white;
    overflow-x: hidden;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__header {
    min-height: 4rem;
    height: auto;
    background: $white;
    border-bottom: 2px solid $main-green;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    flex: 1;
  }

  &__close-button {
    position: relative;
    font-size: 1.2rem;
    color: $main-green;
    width: 100%;
    text-transform: uppercase;
  }

  &__close-button-icon-wrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    left: -1.5rem;
    width: 3rem;
    cursor: pointer;
  }
}
