.modal {
  border-radius: 3px;
  border: none;
  padding: 2.5rem;
  background: #f5f5f5;

  @include breakpoint(small down) {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    min-height: auto;
  }

  &__title {
    color: $hr-dark-gray;
    font-weight: bold;
    font-size: 1.125rem;
    margin-bottom: 0;
  }

  &__close-button {
    right: 0;
    top: 0;
    background: $hr-green;
    border-radius: 0px 2px 0px 0px;
    width: 30px;
    height: 30px;
    color: $white;
    text-align: center;

    &:hover {
      color: $white;
    }
  }

  &__close-button-icon {
    font-size: 1.3rem;
    top: 4px;
    position: absolute;
    right: 6px;
  }
}
