.topbar-menu {
  @include grid-col(7, 0);
  text-align: center;

  &__item {
    display: inline-block;
    position: relative;
    text-transform: capitalize;
    &:after {
      width: 3px;
      height: 3px;
      background: $gray-standard;
      display: inline-block;
      content: '';
      border-radius: 50%;
      margin-bottom: 0.2rem;
    }
    &:last-child {
      &:after {
        background: none;
        width: 0;
        height: 0;
      }
    }
  }

  &__link {
    padding-left: 0.3rem;
    padding-right: 0.4rem;
    font-size: 0.9375rem;
    color: $gray-nav;

    &:hover {
      color: $main-green;
    }
  }

  &__link_active {
    color: $main-green;
  }
}
