{
  "plugins": [
    ["prismjs", {
        "languages": ["json", "http", "ruby"],
        "plugins": ["line-numbers"],
        "css": true
    }]
  ],
  "presets": [
    [ "babel-preset-gatsby" ]
  ]
}
